doctype html
html
  head
    meta(charset='utf-8')
    title &#x7269;&#x6211;
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    link(rel='stylesheet', href='http://203.195.235.76/jssdk/css/style.css')
  body(ontouchstart='')
    #app
  script(src='/static/scripts/jweixin.js')
  script.
    wx.config(!{ js_params });
  script(src='/static/scripts/bundle.min.js')
