doctype html
html
  head
    meta(charset='utf-8')
    title &#x7269;&#x6211;
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/static/styles/bundle.min.css?1')
  body(ontouchstart='')
    #app(onclick='')
    #popup_container(onclick='')
    #progress_container
    #toast_container
  script(src='/static/scripts/jweixin.js')
  script.
    wx.config(!{ js_params });
  script(src='/static/scripts/bundle.min.js?1')
