doctype html
html
  head
    meta(charset='utf-8')
    title 物记
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  body(ontouchstart='')
  script.
    var entry = window.location.pathname.substring(4);
    var search = window.location.search;
    if (entry && entry.length > 0)
       window.location.replace('/app#' + entry + search);
