.root {
    text-align: left;
    padding: 4px 20px;
    color: #ffffff;
    background-color: #81d9d0;
    font-size: 14px;
    line-height: 20px;
    height: 48px;
}
.qrcode {
    float: left;
    margin-top: -1.5px;
    margin-right: 10px;
    width: 43px;
    height: 43px;
}
