.pub-topic-container {
    text-align: center;
}
.pub-topic {
    display: inline-block;
    height: 50px;
    padding-top: 18px;
    font-size: 14px;
    color: #666666;
    background-size: 16px 16px;
    background-position: 0 18px;
    background-repeat: no-repeat;
    background-image: url('../../files/btn_add_me.png');
    padding-left: 21px;
}
