.root {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.intro-container {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 260px;
}
.intro-base {
    line-height: 16px;
    height: 16px;
    font-size: 12px;
    vertical-align: middle;
}
.intro {
    composes: intro-base;
    color: #666666;
}
.intro-null {
    composes: intro-base;
    color: #999999;
}
.me {
    padding-left: 21px;
    background-image: url('../../files/btn_edit_me.png');
    background-position: 0px 0px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}
.intro-me {
    composes: intro;
    composes: me;
}
.intro-null-me {
    composes: intro-null;
    composes: me;
}
.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    border-top: 5px solid #f1f1f1;
    border-bottom: 1px solid #dfdfdd;
}
.tab {
    display: table-cell;
    padding-top: 12px;
    color: #666666;
    font-size: 16px;
    position: relative;
}
.tab-current {
    position: absolute;
    top: 33px;
    width: 80px;
    height: 3px;
    left: 50%;
    margin-left: -40px;
    background-color: #666666;
}
