.progress-container {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.progress {
    height: 20px;
    background-color: rgba(51, 204, 153, 0.8);
}
.number-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.current {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    float: left;
    margin-left: 8px;
}
.total {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    float: right;
    margin-right: 8px;
}
.icon-list-container {
    margin-top: 12px;
    margin-bottom: 12px;
}
.icon-list {
    height: 62px;
    overflow-x: scroll;
    white-space: nowrap;
}
.icon-list::-webkit-scrollbar {
    height: 2;
}
.icon-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 5px;
}
.icon {
    width: 60px;
    height: 60px;
}
.icon-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 30px 30px;
    background-position: 15px 15px;
    background-repeat: no-repeat;
}
.icon-div-playing {
    composes: icon-div;
    background-image: url('../../files/btn_stop_zhuanji.png')
}
.icon-div-paused {
    composes: icon-div;
    background-image: url('../../files/btn_play_zhuanji.png')
}
