.root {
    padding: 16px 15px;
    line-height: 30px;
    border-top: 5px solid #f1f1f1;
}
.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.nickname {
    margin-right: 10px
}
@keyframes amazing {
    0% {transform: scale(1,1);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1,1);}
}
@-webkit-keyframes amazing {
    0% {transform: scale(1,1);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1,1);}
}
.button {
    float: right;
    height: 30px;
    background-size: 20px 20px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
}
.more-button {
    composes: button;
    margin-left: 10px;
    width: 20px;
}
.more {
    composes: more-button;
    background-image: url('../../files/btn_more.png');
}
.comment {
    composes: button;
    min-width: 20px;
    background-image: url('../../files/btn_comment_details.png');
    padding-left: 22px;
    padding-top: 1px;
    font-size: 10px;
    color: #666666;
}
.like {
    composes: more-button;
    background-image: url('../../files/btn_like_details.png');
}
.like-hl {
    composes: more-button;
    background-image: url('../../files/btn_like_details_HL.png');
}
.like-hl-amazing {
    composes: like-hl;
    animation: amazing 0.5s linear;
    -webkit-animation: amazing 0.5s linear;
}
