.picture {
    background-color: #dfdfdd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.picture-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.picture-dummy {
    margin-top: 100%;
}
.title {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    padding: 0px 10px;
    font-size: 12px;
    color: #ffffff;
}
.title-set {
    display: inline-block;
    color: #999999;
}
.edit {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 5px;
}
.audio-line {
    composes: clear-fix from '../common_styles/base.css';
    width: 100%;
    height: 24px;
    display: table;
    margin-top: 10px;
    table-layout: fixed;
}
.audio-line-tab {
    composes: clear-fix from '../common_styles/base.css';
    position: relative;
    width: 100%;
    display: table-cell;
}
.lzw {
    position: absolute;
    margin: -38px;
    left: 50%;
    margin-left: -36px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #ffffff;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    z-index: 8;
}
.audio-length {
    margin-top: 12px;
    height: 14px;
    overflow: visible;
    text-align: center;
    padding-left: 7px;
}
.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.author-line {
    padding: 16px 15px;
    line-height: 30px;
}
.more-buttons {
    float: right;
    margin-left: 10px;
    width: 20px;
    height: 30px;
    background-size: 20px 20px;
    background-position: 0px 5px;
    background-repeat: no-repeat;
}
.nickname {
    margin-right: 10px
}
@keyframes amazing {
    0% {transform: scale(1,1);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1,1);}
}
@-webkit-keyframes amazing {
    0% {transform: scale(1,1);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1,1);}
}
.amazing-animate {
    composes: more-buttons;
    animation: amazing 0.5s linear;
    -webkit-animation: amazing 0.5s linear;
}
