.list-item {
    .clearfix();
    border-bottom: @border-default;
    min-height: 60px;
    color: @color-text-gray;
    .avatar {
        float: left;
        margin: 15px 16px;
    }
    .nickname {
        font-size: 14px;
        line-height: 40px;
        color: @color-text-secondary;
        font-weight: normal;
    }
    .only {
        margin-top: 10px;
    }
    .picture {
        float: right;
        margin: 10px 16px;
        width: 40px;
        height: 40px;
    }
    .audioplayer {
        margin-bottom: 8px;
    }
    .comment-text {
        display: inline-block;
        line-height: 20px;
        margin-bottom: 10px;
    }
}

.list-item .new_item {
    background-color: #f1e8e8;
}
