.comment-input {
    padding-top: 8px;
    border-top: @border-default;
    background-color: @color-bg;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    .send {
        float: right;
        width: 58px;
        height: 32px;
        line-height: 32px;
        text-align: center;
    }
    .input {
        margin-right: 58px;
        margin-left: 82px;
        input {
            width: 100%;
            padding-left: 8px;
            height: 32px;
        }
        input:enabled {
            border: @border-default;
            border-radius: 5px;
            background-color: #ffffff;
        }
        input:disabled {
            background-color: @color-bg;
            border: none;
        }
    }
    .send-disable {
        color: @color-text-gray
    }
}
.comment-input-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.comment-input-absolute {
}
.comment-input-text {
    height: 48px;
}
.comment-input-audio {
    height: 180px;
}
