
// Variables
@import "variables.less";
@import "mixins.less";
@import "normalize.less";
@import "base.less";
@import "text.less";
@import "audios.less";
@import "buttons.less";
@import "bars.less";
@import "tabs.less";
@import "lists.less";
@import "cards.less";
@import "users.less";
@import "../images/build/images.less";

.bgTranslate2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.setting-icon {
    padding: 16px 0 16px 40px;
    background-size: 40px 32px;
    background-repeat: no-repeat;
    background-position: left center;
}
.text-secondary {
    color: @color-text-secondary;
    font-size: 0.7rem;
}
.popup_container {
  position: fixed;
  z-index: 1000010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.popup_container_hide {
  background: transparent;
}
.popup_dialog {
  margin: 0 20px;
  text-align: center;
  background: white;
  border-radius: 4px;
}
@keyframes loader-animation {
    100% {
        transform: rotate(360deg);
    }
}
.loader {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #33ABF9;
}
.loader-circle {
    width: 16px;
    height: 16px;
    display: inline-block;
	background-size:16px 16px;
	background-repeat: no-repeat;
    margin-right: 6px;
    vertical-align: sub;
    animation: loader-animation 1s linear infinite;
}
