.avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.nickname {
    font-size: 15px;
    font-weight: bold;
    color: @color-text;
}
.qr_dialog {
    border-radius: 5px;
    background-color: #ffffff;
    width: 258px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    .qrcode {
        display: block;
        width: 258px;
        height: 258px;
    }
}
