.avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.nickname {
    font-size: 15px;
    font-weight: bold;
    color: @color-text;
}
.share-line {
    text-align: left;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    font-size: 12px;
    color: #ffffff;
    background-color: #6699cc;
    .arrow {
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        width: 9px;
        height: 12px;
        float: right;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.user-detail {
    text-align: center;
    .follow-line {
        text-align: left;
        padding: 4px 20px;
        color: #ffffff;
        background-color: #81d9d0;
        font-size: 14px;
        line-height: 20px;
        height: 48px;
    }
    .btn-default {
        float: right;
        margin-right: 10px;
        padding: 0 15px;
    }
    .avatar-container {
        margin: 24px auto;
        width: 60px;
        position: relative;
    }
    .avatar {
        width: 60px;
        height: 60px;
    }
    .gender {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        width: 24px;
        height: 22px;
        background-size: 22px 22px;
        background-position: 2px 0px;
        background-repeat: no-repeat;
    }
    .nickname {
        margin-top: 20px;
        line-height: 22px;
        font-size: 17px;
        font-weight: normal;
    }
    .intro {
        display: inline-block;
        margin: 10px auto 0px;
        max-width: 240px;
        line-height: 20px;
        height: 20px;
        font-size: 14px;
        color: @color-text-secondary
    }
    .intro-null {
        display: inline-block;
        margin: 10px auto 0px;
        max-width: 240px;
        line-height: 20px;
        height: 20px;
        font-size: 14px;
        color: @color-text-gray
    }
    .intro-edit {
        padding-left: 25px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }
    .intro-input {
        display: inline-block;
        margin: 10px auto 0px;
        max-width: 240px;
        height: 20px;
        font-size: 14px;
        border: @border-default;
        color: @color-text-secondary
    }
    .reads {
        margin: 20px auto 24px;
    }
}
.reads {
    display: inline-block;
    height: 24px;
    padding-top: 6px;
    background-size: 12px 12px;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    font-size: 12px;
    padding-left: 22px;
    padding-right: 6px;
    color: @color-text-secondary
}
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.empty {
    width: 100%;
    height: 100%;
    position: relative;
    .empty-view {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -50%;
        background-size: 100px 100px;
        background-repeat: no-repeat;
        background-position: center top;
        text-align: center;
        padding-top: 120px;
        font-size: 14px;
        line-height: 20px;
        color: @color-text-secondary;
    }
}
